<launch>
  <arg name="id"  default="$(optenv ID 1)" doc="Unique identifier of the robot [1-Inf.)"/>
  <arg name="ns"  value="create$(arg id)"  doc="Namespace of the robot. By default: create1"/>

  <arg name="type" default="turtlebot" doc="Type of node. Options: turtlebot or simple"/>

  <node pkg="proyecto_robotica" type="poseFilePub.py" name="poseMesRes"
        ns="$(arg ns)" output="screen"
        if="$(eval str(arg('id')).isdigit() and (arg('id') > 0) and arg('type')=='simple' )">
    <remap from="cmd_vel" to="cmd_vel/keyop"/>
    <rosparam file="$(find proyecto_robotica)/config/posMes.yaml" command="load"/>
  </node>

  <node pkg="proyecto_robotica" type="turtlebot_teleop_key" name="haciendo_caminar_mesero"
        ns="$(arg ns)" output="screen"
        if="$(eval str(arg('id')).isdigit() and (arg('id') > 0) and arg('type')=='turtlebot' )">
    <remap from="cmd_vel" to="cmd_vel/keyop"/>
  </node>
</launch>
